.feedback {
  margin-left: 1rem;
  display: flex;
  gap: 0.3rem;
}

.feedback-peg {
  width: 15px;
  height: 15px;
  border: 2px solid #e94560;
  image-rendering: pixelated;
}

.feedback-peg.correct { background: #00ff41; box-shadow: 0 0 10px #00ff41; }
.feedback-peg.correctColorWrongPosition { background: #ffb000; box-shadow: 0 0 10px #ffb000; }
.feedback-peg.wrong { background: #ff073a ; box-shadow: 0 0 10px #555; }